body {
    background-color: black;
  }
  .entry_about_me{
    background-image: url('bg-img-2.jpg');
    background-size: cover;
  }


  
/* navigation menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;}

/* End of Navigation menu */



/* div */

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  font-size: 30px;
  color: white;
  width: 1100px;
  height: 1300px;
  padding: 15px;
  background-color: #04AA6D; background-image: linear-gradient(to bottom right, #04AA6D, gray);
  box-shadow: 10px 10px 5px lightblue;
}
#internal:hover:not(){
  transform: scale(1,1);
}
#internal:hover{
  transform: scale(1.01,1.01);
}
/* div */

