body {
    background-color: black;
  }

h1.h1 {font-size: 4em; color: turquoise; text-align: center;}
h2.h2 {font-size: 2em; color: rgb(255, 255, 255); text-align: center;}
hr.dashed {
  height:2px;border-width:0;color:gray;background-color:gray
  }

p.bold_pp{ color: snow; 
    font-family: verdana;
    font-size: 20px;
}
div.buttons{
  justify-content: center;
}
#log_in {
    text-align: right;
}