body {
    background-color: black;
  }
  .home_entry_div{
    background-image: url('ps4.jpg');
    background-size: cover;
  }

.container {
  height: 100vh; /* Set the container height to full viewport height */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
}

.button-container {
  display: flex; /* Use flexbox */
  align-items:flex-start; /* Center items horizontally */
}

.button {
  margin: 10px; /* Add some margin for better spacing */
  padding: 10px 20px; /* Add padding for button */
  background-color:dodgerblue; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.button:hover {
  background-color: #0056b3;
     /* Change background color on hover   background-color: #0056b3;*/
}
h1.h1 {font-size: 4em; font-family: monospace; color:chartreuse; text-align: center;}
h2.h2 {font-size: 2em; font-family: monospace; color: rgb(255, 255, 255); text-align: center;}

hr.dashed {
  height: 2px;border-width:0;color:gray;background-color:gray
  }

/* navigation menu */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
    border-right:1px solid #bbb;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;}

/* End of Navigation menu */

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-container > div {
  opacity: 0.3;
  background-color: chartreuse;
  margin: 15px;
  padding: 30px;
  font-size: 30px;
}

#quote:hover:not(){
  transform: scale(1,1);
}
#quote:hover{
  transform: scale(1.01,1.01);
}